*.pyc
__pycache__/*
*.egg
build/*
*.egg-info
.idea
dist/*
build/*
venv/*
2020*
*.log
cache.md5
*.spec
*.cache
/auto_ui/img_rc.py
*.exe
demo/data/*.inp
*.pdf
mat_source/pysrc/__pycache__/*
foo.db
*.db
demo/readCase/*.dat
demo/readCase/*.cas
demo/readCgns/*.cgns
projects/*
3rd/projects/*
3rd/cache.dt